In [1]:
import opendatasets as od
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib
import jovian
import os
%matplotlib inline

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 150)
sns.set_style('darkgrid')
matplotlib.rcParams['font.size'] = 14
matplotlib.rcParams['figure.figsize'] = (10, 6)
matplotlib.rcParams['figure.facecolor'] = '#00000000'

# Downloading Dataset from Kaggle

In [2]:
od.download('https://www.kaggle.com/c/stayalert')

  0%|                                                                                      | 0.00/18.2M [00:00<?, ?B/s]

Downloading stayalert.zip to .\stayalert

100%|█████████████████████████████████████████████████████████████████████████████| 18.2M/18.2M [00:01<00:00, 10.3MB/s]

Extracting archive .\stayalert/stayalert.zip to .\stayalert

In [3]:
os.listdir('stayalert')

['example_submission.csv', 'fordTest.csv', 'fordTrain.csv', 'Solution.csv']

# Loading Dataset

In [4]:
train_df = pd.read_csv('stayalert/fordTrain.csv')

In [9]:
train_df.shape

(604329, 33)

In [5]:
train_df.head()

,TrialID,ObsNum,IsAlert,P1,P2,P3,P4,P5,P6,P7,P8,E1,E2,E3,E4,E5,E6,E7,E8,E9,E10,E11,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11
0,0,0,0,34.7406,9.84593,1400,42.8571,0.290601,572,104.895,0,0.0,0.0,1,-20,0.015875,324,1,1,1,57,0.0,101.96,0.175,752,5.99375,0,2005,0,13.4,0,4,14.8004
1,0,1,0,34.4215,13.41120,1400,42.8571,0.290601,572,104.895,0,0.0,0.0,1,-20,0.015875,324,1,1,1,57,0.0,101.98,0.455,752,5.99375,0,2007,0,13.4,0,4,14.7729
2,0,2,0,34.3447,15.18520,1400,42.8571,0.290601,576,104.167,0,0.0,0.0,1,-20,0.015875,324,1,1,1,57,0.0,101.97,0.280,752,5.99375,0,2011,0,13.4,0,4,14.7736
3,0,3,0,34.3421,8.84696,1400,42.8571,0.290601,576,104.167,0,0.0,0.0,1,-20,0.015875,324,1,1,1,57,0.0,101.99,0.070,752,5.99375,0,2015,0,13.4,0,4,14.7667
4,0,4,0,34.3322,14.69940,1400,42.8571,0.290601,576,104.167,0,0.0,0.0,1,-20,0.015875,324,1,1,1,57,0.0,102.07,0.175,752,5.99375,0,2017,0,13.4,0,4,14.7757

In [6]:
train_df.isnull().sum()

TrialID    0
ObsNum     0
IsAlert    0
P1         0
P2         0
P3         0
P4         0
P5         0
P6         0
P7         0
P8         0
E1         0
E2         0
E3         0
E4         0
E5         0
E6         0
E7         0
E8         0
E9         0
E10        0
E11        0
V1         0
V2         0
V3         0
V4         0
V5         0
V6         0
V7         0
V8         0
V9         0
V10        0
V11        0
dtype: int64

In [7]:
train_df.describe()

,TrialID,ObsNum,IsAlert,P1,P2,P3,P4,P5,P6,P7,P8,E1,E2,E3,E4,E5,E6,E7,E8,E9,E10,E11,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11
count,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.0,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.0,604329.000000,604329.0,604329.000000,604329.000000
mean,250.167657,603.841765,0.578799,35.449020,11.996525,1026.671035,64.061965,0.178923,845.384610,77.887628,0.0,10.512332,102.790045,0.290565,-4.230136,0.016262,358.674738,1.757296,1.383058,0.876787,63.311256,1.315265,76.965412,-0.037710,573.786433,19.961030,0.179814,1715.688383,0.0,12.710354,0.0,3.312257,11.668277
std,145.446164,348.931601,0.493752,7.484629,3.760292,309.277877,19.755950,0.372309,2505.335141,18.577930,0.0,14.049071,127.258629,1.006162,35.508596,0.002304,27.399973,2.854852,1.608807,0.328681,18.891029,5.247204,44.387031,0.403896,298.412888,63.269456,0.384033,618.176470,0.0,11.532085,0.0,1.243586,9.934423
min,0.000000,0.000000,0.000000,-22.481200,-45.629200,504.000000,23.885300,0.038920,128.000000,0.262224,0.0,0.000000,0.000000,0.000000,-250.000000,0.008000,260.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-4.795000,240.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,1.000000,1.676730
25%,125.000000,302.000000,0.000000,31.758100,9.903540,792.000000,49.180300,0.092110,668.000000,66.666700,0.0,0.000000,0.000000,0.000000,-8.000000,0.015686,348.000000,0.000000,0.000000,1.000000,52.000000,0.000000,41.930000,-0.175000,255.000000,1.487500,0.000000,1259.000000,0.0,0.000000,0.0,3.000000,7.947680
50%,250.000000,604.000000,1.000000,34.145100,11.400400,1000.000000,60.000000,0.105083,800.000000,75.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.016001,365.000000,1.000000,1.000000,1.000000,67.000000,0.000000,100.400000,0.000000,511.000000,3.018750,0.000000,1994.000000,0.0,12.800000,0.0,4.000000,10.772600
75%,374.000000,906.000000,1.000000,37.311900,13.644200,1220.000000,75.757600,0.138814,900.000000,89.820400,0.0,28.240000,211.584000,0.000000,6.000000,0.016694,367.000000,2.000000,2.000000,1.000000,73.000000,0.000000,108.500000,0.070000,767.000000,7.481250,0.000000,2146.000000,0.0,21.900000,0.0,4.000000,15.270900
max,510.000000,1210.000000,1.000000,101.351000,71.173700,2512.000000,119.048000,27.202200,228812.000000,468.750000,0.0,243.991000,359.995000,4.000000,260.000000,0.023939,513.000000,25.000000,9.000000,1.000000,127.000000,52.400000,129.700000,3.990000,1023.000000,484.488000,1.000000,4892.000000,0.0,82.100000,0.0,7.000000,262.534000

In [10]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 604329 entries, 0 to 604328
Data columns (total 33 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   TrialID  604329 non-null  int64
 1   ObsNum   604329 non-null  int64
 2   IsAlert  604329 non-null  int64
 3   P1       604329 non-null  float64
 4   P2       604329 non-null  float64
 5   P3       604329 non-null  int64
 6   P4       604329 non-null  float64
 7   P5       604329 non-null  float64
 8   P6       604329 non-null  int64
 9   P7       604329 non-null  float64
 10  P8       604329 non-null  int64
 11  E1       604329 non-null  float64
 12  E2       604329 non-null  float64
 13  E3       604329 non-null  int64
 14  E4       604329 non-null  int64
 15  E5       604329 non-null  float64
 16  E6       604329 non-null  int64
 17  E7       604329 non-null  int64
 18  E8       604329 non-null  int64
 19  E9       604329 non-null  int64
 20  E10      604329 non-null  int64
 21  E11      604329 non-null  float64
 22  V1       604329 non-null  float64
 23  V2       604329 non-null  float64
 24  V3       604329 non-null  int64
 25  V4       604329 non-null  float64
 26  V5       604329 non-null  int64
 27  V6       604329 non-null  int64
 28  V7       604329 non-null  int64
 29  V8       604329 non-null  float64
 30  V9       604329 non-null  int64
 31  V10      604329 non-null  int64
 32  V11      604329 non-null  float64
dtypes: float64(14), int64(19)
memory usage: 152.2 MB

In [15]:
train_df.ObsNum.value_counts()

1023    500
633     500
128     500
640     500
1152    500
       ...
1206    415
1207    415
1208    415
1209    412
1210    412
Name: ObsNum, Length: 1211, dtype: int64

In [20]:
X = train_df.drop('IsAlert',axis = 1)
y = train_df.IsAlert

In [57]:
y.value_counts()

1    349785
0    254544
Name: IsAlert, dtype: int64

# Splitting Dataset

In [22]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state = 42)

## Scaling Numerical Columns

In [25]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler().fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

## Random Forest Classifier

In [29]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_jobs = -1, random_state = 42)
model.fit(X_train,y_train)

RandomForestClassifier(n_jobs=-1, random_state=42)

In [76]:
print("Train Score:{}\nTest Score:{}".format(round(model.score(X_train,y_train),4),round(model.score(X_test,y_test),4)))

Train Score:1.0
Test Score:0.9932

In [40]:
test_df = pd.read_csv('stayalert/fordTest.csv')

In [41]:
test_df.isnull().sum()

TrialID    0
ObsNum     0
IsAlert    0
P1         0
P2         0
P3         0
P4         0
P5         0
P6         0
P7         0
P8         0
E1         0
E2         0
E3         0
E4         0
E5         0
E6         0
E7         0
E8         0
E9         0
E10        0
E11        0
V1         0
V2         0
V3         0
V4         0
V5         0
V6         0
V7         0
V8         0
V9         0
V10        0
V11        0
dtype: int64

In [44]:
test_df = test_df.drop('IsAlert',axis = 1)

In [45]:
test_df = scaler.transform(test_df)

In [46]:
predictions = model.predict(test_df)

In [47]:
sample = pd.read_csv('stayalert/example_submission.csv')

In [48]:
sample.head()

   TrialID  ObsNum  Prediction
0        0       0           0
1        0       1           0
2        0       2           0
3        0       3           0
4        0       4           0

In [49]:
sample['Prediction'] = predictions

In [51]:
sample.to_csv('Predictions.csv')

In [55]:
os.listdir('stayalert')

['example_submission.csv', 'fordTest.csv', 'fordTrain.csv', 'Solution.csv']

In [56]:
sample.Prediction.value_counts()

1    104749
0     16091
Name: Prediction, dtype: int64

In [59]:
pred_orig = pd.read_csv('stayalert/Solution.csv')

In [65]:
original_predictions = pred_orig['Prediction']

In [66]:
predicted = sample['Prediction']

In [72]:
compare = pd.concat([original_predictions,predicted],axis = 1,ignore_index = True)

In [73]:
compare

        0  1
0       1  1
1       1  1
2       1  1
3       1  1
4       1  1
...    .. ..
120835  1  1
120836  1  1
120837  1  1
120838  1  1
120839  1  1

[120840 rows x 2 columns]

In [74]:
from sklearn.metrics import confusion_matrix

In [75]:
confusion_matrix(original_predictions,predicted)

array([[15945, 13969],
       [  146, 90780]], dtype=int64)